@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import url("https://fonts.googleapis.com/css?family=Barlow:300,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Staatliches:regular&display=swap");
/* ----------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    min-width: 320px;
    line-height: 1;
}
a {
    color: inherit;
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
    max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
button{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}
/* ----------------------------------------------------------- */
body{
    font-family: 'SF Pro Display', sans-serif;
    color: #2F3035;
    font-size: 1.25rem;
    font-weight: 400;
}
/* ----------------------------------------------------------- */
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page{
    flex: 1 1 auto;
}
/* ----------------------------------------------------------- */
[class*="__container"] {
    max-width: 75rem;
    padding: 0 .9375rem 0 .9375rem;
    margin: 0 auto;
}
/* ---------------------------------header-------------------------- */
.header{
    margin-bottom: 6.75vw; /* 81/1200 */
}
.header-top {
    height: 122px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list {
    display: flex;
    column-gap: 3.125rem;
}
.menu__item {
    font-weight: 700;
}
.menu__item:hover{
    text-shadow: .0625rem .0625rem .1875rem rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}
.header-top__adress {
    font-weight: 700;
}
.header-top__adress::before {
    content: '';
    background-image: url(../img/header/address.svg);
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
}
.header-top__user-actions {
    display: flex;
    column-gap: .625rem;
    margin-right: 1.4375rem;
}

.header-top__cart {
    position: relative;
}
.header-top__cart::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 24px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1C62CD;
    z-index: 1;
}
.cart-number{
    position: absolute;
    top: .8125rem;
    left: 1.75rem;
    z-index: 2;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}
.header-bottom {
    max-width: 75rem;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    height: 53px;
    background-color: #F0F0F4;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.header-bottom::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}
.header-bottom__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom__item{
    height: 53px;
}
.header-bottom__item{
    padding-right: 15px;
}
.header-bottom__item:nth-child(1){
    padding-left: 15px;
}
.header-bottom__link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition: text-shadow 0.4s;
}
.header-bottom__link-dop{
    position: relative;
    height: 100%;
    display: none;
    align-items: center;
    transition: text-shadow 0.4s;
    white-space: nowrap;
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: 700;
}
.header-top__burger-btn{
    width: 33.6736px;
    height: 27px;
    border: none;
    position: relative;
    z-index: 30;
    display: none;
}
.header-top__burger-btn span{
    position: absolute;
    width: 2.1046rem;
    height: .1875rem;
    border-radius: .125rem;
    left: 0rem;
    background-color: black;
    transition: transform 0.5s;

}
.header-top__burger-btn span:nth-child(1){
    transform: translateY(-0.625rem);
}
.header-top__burger-btn span:nth-child(3){
    transform: translateY(.625rem);
}
.header.open .header-top__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header-top__burger-btn span:nth-child(2){
    opacity: 0;
}
.header.open .header-top__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}
.burger-btn__additional{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    display: none;
}
.additional-menu__list{
    width: 245px;
    min-height: 100%;
    box-shadow: 0rem 0rem 4px 0px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
    padding-top: 55px;
    padding-left: 10px;
}
.additional-menu__link{
    display: block;
    padding-top: 2.25rem;
    position: relative;
}
.additional-menu__item:nth-child(1) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-user.svg);
    width: 20px;
    height: 20.0016px;
    margin-right: 23px;
}
.additional-menu__item:nth-child(2) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-user.svg);
    width: 20px;
    height: 20.0016px;
    margin-right: 23px;
}
.additional-menu__item:nth-child(3) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-love.svg);
    width: 20px;
    height: 18.3328px;
    margin-right: 23px;
}
.additional-menu__item:nth-child(4) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-cart.svg);
    width: 30px;
    height: 22.5008px;
    margin-right: 13px;
}
.additional-menu__item:nth-child(5) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-home.svg);
    width: 18px;
    height: 19.2px;
    margin-right: 24px;
}
.additional-menu__item:nth-child(6) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-act.svg);
    width: 1rem;
    height: 1rem;
    margin-right: 1.625rem;
}
.additional-menu__item:nth-child(7) a::before{
    content: '';
    display: inline-block;
    background-image: url(../img/header/burger-menu/svg-xs.svg);
    width: 1.1294rem;
    height: .9375rem;
    margin-right: 1.5rem;
}
.additional-menu__item:nth-child(8) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(9) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(10) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(11) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(12) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(13) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(14) a{
    padding-left: 43px;
}
.additional-menu__item:nth-child(15) a{
    padding-left: 43px;
}
.additional-menu__link::after{
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.1875rem;
    width: 100%;
    height: .125rem;
    background-color: rgba(0, 0, 0, 0.10);
}

/* --------------------------section-hero------------------------------------------------- */
.hero{
    margin-bottom: 5rem;
}
.hero__block-1{
    display: flex;
    column-gap: 36px;
    max-width: 75rem;
    padding: 0 .9375rem 0 .9375rem;
    margin: 0 auto;

}
.swiper-container{
    min-height: 164px;
    overflow: hidden;
    position: relative;
}
.slide-img{
    min-width: 320px;
    min-height: 164px;
}
.slide-img img{
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}
.swiper-button-prev-1::after{
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../img/hero/стрелка\ влево.svg);
    width: 15.1824px;
    height: 28.3968px;   
    top: 50%;
    left: 0;
    z-index: 2;
    margin-left: 10px;
}
.swiper-button-next-2::after{
    content: '';
    position: absolute;
    display: inline-block;
    background-image: url(../img/hero/стрелка\ вправо.svg);
    width: 15.1824px;
    height: 28.3968px;
    top: 50%;
    right: 0;
    z-index: 2;
    margin-right: 10px;
}
.swiper-container .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 10px;
}
.swiper-container .swiper-pagination-bullet{
    width: .625rem;
    height: .625rem;
    background-color: transparent;
    border-radius: 50%;
    border: .0625rem solid #fff;
    display: inline-block;
    opacity: 1;
}
.swiper-container .swiper-pagination-bullet-active{
    background-color: #fff;
}
.card-action{
    display: flex;
    flex-direction: column;
    min-width: 265px;
    height: 397px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
}
.card-action-top {
    display: flex;
    column-gap: 54px;
}
.block-title-action{
    width: 5.625rem;
    height: 1.875rem;
    border-radius: .125rem;
    background-color: #1C62CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-action {
    color: #FFF;
    font-family: Proxima Nova;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.card-action-price {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}
.new-price {
    color: #1C62CD;
    font-family: Barlow;
    font-size: 27px;
    font-weight: 700;
}
.new-price::after{
    content: '';
    background-image: url(../img/hero/icon-rubl.svg);
    display: inline-block;
    width: 1rem;
    height: 1.1248rem;
    margin-left: .2813rem;
}
.alt-price {
    color: #C4C4C4;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    align-self: flex-end;
}
.alt-price::after{
    content: '';
    background-image: url(../img/hero/icon-rubl-ser.svg);
    display: inline-block;
    width: .5rem;
    height: .5838rem;
    margin-left: .1875rem;
}
.alt-price::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: .375rem;
    width: 60px;
    height: 1px;
    background-color: #C4C4C4;
    transform: rotate(-9.332deg);

}
.card-action-img{
    margin-top: .4375rem;
    margin-left: 3.8125rem;
}
.motor-title {
    margin-top: 4.2992px;
    margin-bottom: .4375rem;
}
.title-motor-card {
    color: #2F3035;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 1.125rem;
    font-weight: 700;
}
.card-action-bottom {
    height: 100%;
    border-radius: .125rem;
    background-color: #F0F0F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.action-bottom-text {
    text-align: center;
}
.data-text{
    color: #1C62CD;
    text-align: center;
    font-family: Barlow;
    font-size: 1.125rem;
    font-weight: 700;
}
.search {
    margin-bottom: 200px;
    height: 47px;
    overflow-y: auto;
}
.search::-webkit-scrollbar{
    display: none;
}   
.search__container {
}
.search-button-list {
    display: flex;
    column-gap: 60px;
    white-space: nowrap;
}
.search-button-item {
    height: 47px;
    display: flex;
    align-items: center;
}
.search-button-item:nth-child(1){
    padding-left: .9375rem;
} 
.search-button-item:last-child{
    padding-right: .9375rem;
}
.search-button-item button{
    height: 100%;
    position: relative;
}
.search-button-item button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #1C62CD;
    transition: width 0.5s;
}
.search-button-item button:focus::after{
    width: 100%;
}
























































/* ---------------------------------header-media-------------------------- */
@media(max-width: 62.5em){
    .menu__list {
        column-gap: 1.5625rem;
    }
}
@media (max-width: 56.25em) {
    .menu__item {
        font-size: 1.0625rem;
    }
    .header-top__adress {
        font-size: 1.0625rem;
    }
    .menu__list {
        column-gap: .9375rem;
    }
    .header-top__logo {
        width: 4.375rem;
        height: 4.125rem;
    }
}
@media (max-width: 47.9375em){

}
@media (min-width: 75em){
    .header{
        margin-bottom: 81px;
    }
}
@media (max-width: 48rem){
    [class*="__container"] {
        max-width: 1190px;
        padding: 0 10px 0 10px;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .header-bottom {
        overscroll-behavior-x: contain;
    }
  }
@media (min-width: 48rem){
    .header-bottom__link::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: .1875rem;
        background-color: #1C62CD;
        transition: width 0.4s;
    }
    .header-bottom__link:hover::after{
        width: 100%;
    }
    .header-bottom__link:hover{
        text-shadow: 
        .0437rem .0437rem rgba(0, 0, 0, 0.2),
        0 .0437rem rgba(0, 0, 0, 0.2),
        -0.0437rem 0 rgba(0, 0, 0, 0.2),
        0 -0.0437rem rgba(0, 0, 0, 0.2);
    }
    .logo__img{
        display: inline-block;
    }
    .logo__img-small{
        display: none;
    }
  }
@media (max-width: 768px){
    .menu{
        display: none;
    }
    .header-top__logo{
        width: 82px;
        height: 17.6px;
    }
    .logo__img{
        display: none;
    }
    .logo__img-small{
        display: inline-block;
    }
    .header-top__adress{
        display: none;
    }
    .header-top {
        height: 67px;
    }
    .header.open .burger-btn__additional {
        display: flex;
    }
    .header-top__burger-btn{
        display: block;
    }
    .header-bottom__link{
        display: none;
    }
    .header-bottom__link-dop{
        display: flex;
    }
    .header-bottom__item{
        padding-right: 0px;
    }
    .item-dop{
        padding-right: .9375rem;
    }
}

/* ---------------------------------section-hero-------------------------- */
@media (max-width: 71.87em){
    .hero__block-1{
        column-gap: 20px;
    }
}
@media (max-width: 64em){
    .hero__block-1{
        display: flex;
        flex-direction: column;
        row-gap: 40px;
    }
    .card-action-top {
        display: flex;
        justify-content: space-between;
    }
    .card-action-img{
        margin-top: .4375rem;
        margin-left: 0rem;
        text-align: center;
    }
    .card-action{
        margin: 0 1.625rem;
    }
    .slide-img img{
        min-width: 320px;
        min-height: 164px;
        object-fit: cover;
    }
}
@media (max-width: 48em){
    .hero__block-1{
        display: flex;
        column-gap: 36px;
        max-width: 73.125rem;
        padding: 0 0rem 0 0rem;
        margin: 0 auto;
    }
}
/* ----------------------------------------section-search---------------------------------------------------- */
@media (max-width: 768px){

}